/***********
horizontal slider
***********/

.carousel-item {
  max-height:100vh !important;
}

.carousel-item img {
  animation-name: zoom-in-photo;
  animation-duration: 15s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.carousel-caption {
  left: 0%;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes zoom-in-photo {
  from{transform: scale(1);}
  to{transform: scale(1.2);}
}

/**********
header-title-animation
**********/

.header-title-container {
  width: 100%;
  height: 50vh;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title-container .header-title-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-title-container .header-title-box .header-title {
  margin: auto;
  margin-bottom: 3rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 3.2vw;
}

.header-title-container .header-title-box .header-title .block {
  top: 1vmax;
  width: 0%;
  
  /* margin-right: 20%; */
  overflow: hidden;
  height: 5.5vmax;
  background: var(--yellow);
  position: absolute;
  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
}

@media only all and (min-width:992px)  {     
  .header-title-container .header-title-box .header-title .block {
    height: 4.5vmax;
  }
}


.header-title-container .header-title-box .header-title h2 {
  /* font-family: 'Poppins'; */
  margin: auto;
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive;
  color: var(--text);
  /* text-shadow: 3px 3px 1px var(--yellow); */
  text-shadow: 0px 0px 25px white;
  font-size: 5.5vmax;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

  /* a decoration square after carousel header title */
.header-title-container .header-title-box .header-title span {
  width:0px;
  height: 0px;
  background: var(--yellow);
  -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
  animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

@media only all and (min-width:992px)  {     
  .header-title-container .header-title-box .header-title h2 {
  font-size: 3.5vmax;
  }
}

@media only all and (max-width:576px)  {     
  .navbar img {
    width: 70%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}