.image {
    background-color: white;
    border: var(--text);
    border-style: solid ;
    border-width: thin;
    border-radius: 1rem;
}

.image img {
    border-radius: 1rem;
}

.image:hover{
    cursor: pointer;
    opacity: 0.7;
}