
body { 
    background: whitesmoke !important; 
    padding: 60px;
}

#profilecontainer {
    width: auto;
    max-height: 450px;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 0 15px var(--custom-dark-grey);
}

#part1 {
    width: auto;
    height: 40%;
    background-color: var(--text);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

#person {
    width: 30%;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    top: 40%;
    left: 35%;
    cursor: pointer
}

#user_profile_fullname {
    text-align: center;
    font-size: 20px;
    color: white
}
 
.send_message,
.block_user,
.unblock_user,
.settings_user{
    color: var(--custom-dark-grey);
    font-size: 30px;
}

.settings_user:hover,
.send_message:hover {
    color: greenyellow;
}

.block_user:hover {
    color: red;
}
.unblock_user:hover {
    color: greenyellow;
}

#follow {
    position: relative;
    top: 50%;
    left: 25%;
    height: 50px;
    width: 50%;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 0 15px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--text);
}

#follow:hover {
    background-color: var(--custom-dark-grey);
    color: white;
    transition: 0.5s
}

#posts_label, #posts_num, #friends_label, 
#friends_num, #photos_label, #photos_num {
    font-size: 20px
}

#posts_label, #friends_label, #photos_label{
    font-size: 20px;
    color: gray;
}

#friends_label:hover,
#photos_label:hover{
    cursor: pointer;
}

@media only screen and (max-width:830px) {
    #profilecontainer {
        position: relative;
        left: 20%
    }
}

@media only screen and (max-width:620px) {
    #profilecontainer {
        position: relative;
        left: 10%
    }
}

@media only screen and (max-width:530px) {
    #profilecontainer {
        position: relative;
        left: 4%
    }
}