.p-text-area, .p-text-area:focus {
    border: none;
    font-weight: 300;
    box-shadow: none;
    color: #c3c3c3;
    font-size: 16px;
}

.posts .new_post_footer {
    background-color:#f8f7f5 ;
}

.posts .new_post_footer a {
    color: #7a7a7a;
}
.posts .new_post_footer a:hover {
    color: var(--text);
}

.post_button{
    background-color: var(--text);
}

#user_profile_photo{
    width:60px !important;
    height:60px !important;
}
.post {
    background-color: white;
    border: var(--text);
    border-style: solid ;
    border-width: thin;
    border-radius: 1rem;
}

#user_fullname{
    font-size: 18px;
}

#post_timestamp {
    font-size: 12px;
    color: gray;
}

.post_footer a {
    color: #7a7a7a ;
}
.post_footer a:hover {
    color: var(--text) ;
}


.comments, .likes{
    max-height: 85vh;
    overflow: auto;
}


#like_user_profile_photo, #comment_user_profile_photo {
    width:40px !important;
    height:40px !important;
}

.like_user {
    background-color: white;
    border: var(--text);
    border-style: solid ;
    border-width: thin;
    border-radius: 1rem;
}

.comment_user {
    background-color: white;
    border: var(--text);
    border-style: solid ;
    border-width: thin;
    border-radius: 1rem;
}

#like_user_fullname, #comment_user_fullname{
    font-size: 16px;
}

.comment_body{
    font-size: 14px;
}

#edited_comment_timestamp, #comment_timestamp{
    color:grey;
    font-size: 12px;
}

/*
#user_profile_photo, #user_fullname, #post_timestamp {
    display: inline-block;
}*/
