.p-text-area, .p-text-area:focus {
    border: none;
    font-weight: 300;
    box-shadow: none;
    color: #c3c3c3;
    font-size: 16px;
}

.post_button{
    background-color: var(--text);
}

#user_profile_photo{
    width:60px !important;
    height:60px !important;
}
.message {
    background-color: white;
    border: var(--text);
    border-style: solid ;
    border-width: thin;
    border-radius: 1rem;
}

#post_timestamp {
    font-size: 12px;
    color: gray;
}


.send_message_button{
    background-color: var(--text);
}

.load_older_button{
    background-color: var(--text);
}