#user_profile_photo{
    width:60px !important;
    height:60px !important;
}

.user {
    background-color: white;
    border: var(--text);
    border-style: solid ;
    border-width: thin;
    border-radius: 1rem;
}

#user_fullname{
    font-size: 18px;
}

h3 {
    color: var(--text);
}

.accept_button{
    background-color: var(--text);
}

.ignore_button{
    background-color: var(--custom-dark-grey);
    color: var(--text);
}