:root {
  --text: #ffa100;
  --background: #ffcc00;
  --orange-trans: #ff7700;
  --custom-dark-grey: rgba(0,0,0,.5);
}

.navbar {
  background: --orange-trans;
  transition: .5s all;
  margin-top: 0px;
  padding: 0px !important;
  color: var(--text);
}
  
a.navbar-brand {
  flex: 1;
}

.navbar img {
  margin-top: 0;
  margin-left: 3px;
  width: 80%;
}

img.brand {
  max-height: 50px;
  width: auto;
}

nav.stickyAdd {
  background: var(--background);
  color: var(--text);
  box-shadow: 0 2px 10px 5px var(--custom-dark-grey);
  transition: .5s all;
  margin-top: 0;
}

.nav-link {
  border-top: solid 2px transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text);
}

.nav-link:hover {
  border-top: solid 2px var(--orange-trans);
  color: var(--text);
  transition: var(--transition);
}

nav.stickyAdd.nav-link:hover {
  border-top: solid 2px var(--orange-trans);
  color: var(--text);
  transition: var(--transition);
}

.burger-menu {
  color: var(--text);
}

.collapsing > .navbar-nav, .collapse.show > .navbar-nav {
  background-color: var(--background);
}
  
i {
  color:grey;
}

i:hover {
  color:var(--text);
  cursor:pointer;
}
