body {
    background: var(--text);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--text)
}

.profile-button {
    background: #7a7a7a;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: var(--text);
}

.profile-button:focus {
    background: var(--text);
    box-shadow: none
}

.profile-button:active {
    background: var(--text);
    box-shadow: none
}

.labels {
    font-size: 11px
}

#settings_container{
    border-radius: 1rem !important;
    margin-top: 50px;
}
