@import "nav.css";
@import "carousel.css";

img.profile_picture  {
    max-height: 30px;
    width: auto;
    border-radius: 50%;
  }


  /* Orange */
.search_btn {
    color: var(--text);
  }
  
.search_btn:hover {
    background: var(--text) !important; 
    color: rgb(22, 28, 45) !important;
  }

  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .navLink:focus{
    color: var(--text) !important;
 }

 .searchField:focus{
    outline: none !important;
    box-shadow: none !important;
 }
